body{
  background-color:#d45858;
  font-family: sans-serif;
  background-size: cover;
}
h1 {
color: white;
  padding-top: 120PX;
  font-family:sans-serif;
  font-size: 18pt;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
}
p{
  color:hsl(258, 15%, 90%);
  font-family: sans-serif;
  font-size: 8pt;
  margin-bottom: 60px;
  font-weight: bold;
}
