<!--The content below is only a placeholder and can be replaced.-->
<body>
<div style="text-align:center">
  <h1>
    Logo
  </h1>
  <p>Please Fill in all details</p>
</div>
<app-login></app-login>
</body>
