<div id="register">
  <form>
    <input type="text" name="email" placeholder="Email"/><br/>
    <br/>
    <input type="password" name="pass" placeholder="Password"/><br/>
    <br/>
    <button>LOGIN</button><br/>
    <br/>
    <br/>
    <a>forget password</a>
  </form>
</div>
