form{
  border:white;
 color:white;
  text-align: center;
  padding-bottom: 800px;
  margin-bottom: 800px;
border-color: white;
}
input[type="text"]{
  border-radius: 25px;
  padding: 12px;
  background: transparent;
  border-color: white;
  width: 70%;
  height: 70%;
  outline-color: white;
  -webkit-text-fill-color:rgb(199, 194, 194);;
  border: 2px solid rgb(199, 194, 194);
  left:80px;


}
input[type="password"]{
  border-radius: 25px;
  padding: 12px;
  background: transparent;
  width: 70%;
  height: 70%;
  border-color: white;
  -webkit-text-fill-color:rgb(199, 194, 194);
  border: 2px solid rgb(199, 194, 194);
}
button{
  text-align: center;
  border-radius: 25px;
  padding: 12px;
  width: 80%;
  height: 80%;
  color:#d45858;
  font-family:sans-serif;
  font-size: 15px;
  font-weight: bold;
background-color: white;
border: 2px solid rgb(199, 194, 194);
  }
a{
  text-align: center;
}
